.bullits {
  padding: 9.5rem 0 0;

  @media (max-width: $tablet) {
    padding: 0;
  }

  .container {
    position: relative;
    max-width: 140rem;
  }

  &__left-decor {
    position: absolute;
    top: -1.9rem;
    left: -20rem;
    width: 35.5rem;
    height: 31.2rem;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__right-decor {
    position: absolute;
    top: -1.3rem;
    right: -22rem;
    width: 37.5rem;
    height: 32.6rem;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    &--mobile {
      display: none;
    }

    @media (max-width: $tablet) {
      flex-wrap: wrap;
      &--desktop {
        display: none;
      }

      &--mobile {
        display: flex;
      }
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &__tablet {
    color: $white;
    background-color: $red;
    text-transform: uppercase;
    padding: 1.1rem 1.6rem;
    border-radius: 36px;
    font-size: 1.8rem;

    &--purple {
      background-color: $purple;
    }
  }

  &__text {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 4.2rem;
    line-height: 1;
    margin: 0 0 1.6rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      max-width: unset;
    }

    &--retro {
      width: 28%;
      top: -1.5rem;
      margin-left: 6.5rem;
      z-index: 1;

      img {
        width: 39.8rem;
        height: 39.9rem;
      }

      @media (max-width: $tablet) {
        width: 53%;
        margin: 0;
        top: 12px;
        right: -23px;
        z-index: 5;

        img {
          width: 100%;
          height: 100%;
        }
      }


    }

    &--hundred {
      width: 22%;
      margin-left: -3.5rem;
      top: -6.4rem;
      z-index: 2;

      img {
        width: 43.6rem;
        height: 43.6rem;
      }

      @media (max-width: $tablet) {
        width: 46%;
        margin: 0;
        top: 30px;
        left: -44px;


        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &--fun {
      width: 25%;
      z-index: 1;
      margin-left: -2rem;
      top: -9rem;

      img {
        width: 42.3rem;
        height: 42.4rem;
      }

      @media (max-width: $tablet) {
        width: 47%;
        top: 0;
        z-index: 2;
        margin: -144px 0 0;
        right: -13px;

        img {
          width: 100%;
          height: 100%;

        }
      }

    }

    &--hits {
      width: 25%;
      z-index: 3;
      margin-left: -4.2rem;
      top: -4rem;

      img {
        width: 40.6rem;
        height: 41.2rem;
      }

      @media (max-width: $tablet) {
        width: 53%;
        margin: 0;
        top: 0;
        z-index: 4;
        margin-top: -56px;
        right: 15px;

        img {
          width: 100%;
          height: 100%;
        }
      }

    }
  }


}
