.button {
    display: inline-flex;
    width: 100%;
    height: 4.8rem;
    justify-content: center;
    align-items: center;
    background-color: $white;
    color: $red;
    padding: 1.3rem 2rem;
    margin: 0;
    border: none;
    border-radius: 24px;
    text-decoration: none;
    font-family: $mossport;
    font-size: 3.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: 0.2s color ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;

    &:hover,
    &:active {
        background-color: $red;
        color:$white;
    }

    @media (max-width: $tablet) {
      height: 48px;
      font-size: 38px;
      width: 100%;
      border-width: 2px;
      border-radius: 36px;
    }

    @media(max-width: $mobile) {
        font-size: 20px;
        line-height: 24px;
        padding: 13px 20px;
        width: 100%;
        height: 50px;

        &:hover,
        &:active {
          background-color: $red;
          color: $white;
        }
    }

    &--free {
      color: $white;
      background-color: transparent;
      border: 1px solid $white;
      width: 23rem;
      text-align: center;
      justify-content: center;

      @media (max-width: $tablet) {
        width: 100%;
      }

      cursor: auto;

      &:hover {
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
      }
    }

    &--small {
      font-size: 3rem;
      line-height: 1.2;

      @media (max-width: $tablet) {
        font-size: 30px;
      }

      @media (max-width: $mobile) {
        font-size: 20px;
      }
    }
}
