.footer {
  position: relative;
  z-index: 5;
  padding: 5.5rem 0 8rem;
  color: $white;
  background-color: $purple;

  a {
    display: block;
    text-decoration: none;
    color: $white;
    transition: color 0.3s ease-in-out;

    &.footer__policy-link {
      opacity: 0.3;
      text-transform: uppercase;
      font-size: 1.25rem;
    }

    &:hover {
      color: $orange;
    }
  }

  &__title {
    margin: 0 0 5rem;
  }

  &__description {
    font-size: 1.86rem;
    line-height: 2.4rem;

    p {
      margin: 0 0 2.5rem;
    }

    ul {
      padding: 0 0 0 3rem;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__about {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 4rem;
  }

  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__emails {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 45.2%;
    justify-content: space-between;
  }

  &__email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    span {
      display: block;
      text-transform: uppercase;
      font-size: 1.76rem;
      line-height: 2.4rem;
    }

    a {
      font-size: 2.85rem;
      line-height: 3.8rem;
    }

  }

  &__other {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 49.7%;
  }


  &__logos {
    position: relative;
    display: flex;
    gap: 3.2rem;
    z-index: 2;

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &__logo {
    transition: 0.2s color ease-in;

    svg {
      fill: currentColor;
    }

    &:hover {
      color: $purple;
    }
  }


}
