.header {

  &__nav {
    position: relative;
    padding: 2rem 12.7rem 0 0;
    flex-shrink: 0;
    z-index: 2;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__decor-circle {
    position: absolute;
    border-radius: 50%;
    background-color: $orange;
    top: -18.8rem;
    left: 49.5%;
    transform: translateX(-50%);
    width: 43.7rem;
    height: 43.7rem;
    z-index: 1;

  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;

    @media (max-width: $mobile) {
      padding: 30px 0 0;
    }
  }

  &__logos {
    position: relative;
    display: flex;
    gap: 2.9rem;
    padding: 5.5rem 0 0 3.3rem;
    z-index: 2;

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &__logo {
    transition: 0.2s color ease-in;

    svg {
      fill: currentColor;
    }

    &:hover {
      color: $purple;
    }
  }


}
