.header {

  .container {
    max-width: 140rem;
  }

  &__nav {
    position: relative;
    padding: 2rem 12.7rem 0 0;
    flex-shrink: 0;
    z-index: 2;

    @media (max-width: $tablet) {
      align-self: flex-end;
    }

  }

  &__decor-circle {
    position: absolute;
    border-radius: 50%;
    background-color: $orange;
    top: -18.8rem;
    left: 49.5%;
    transform: translateX(-50%);
    width: 43.7rem;
    height: 43.7rem;
    z-index: 1;

    @media (max-width: $tablet) {
      top: -50px;
      left: auto;
      right: -237px;
      width: 277px;
      height: 277px;
    }

    @media (max-width: $mobile) {
      top: -129px;
      right: -336px;
    }

  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__logos {
    position: relative;
    display: flex;
    gap: 2.9rem;
    padding: 5.5rem 0 0 3.3rem;
    z-index: 2;

    @media (max-width: $tablet) {
      align-self: center;
      gap: 28px;
      padding: 40px 6px 0 0px;
    }

    @media (max-width: $mobile) {
      gap: 15px;
      padding: 74px 6px 0 0;
    }
  }

  &__logo {
    transition: 0.2s color ease-in;

    svg {
      fill: currentColor;
    }

    &:hover {
      color: $purple;
    }
  }


}
