.map {
  position: relative;
  padding: 11.5rem 0 20rem;
  overflow: hidden;

  @media (max-width: $tablet) {
    padding: 86px 0 114px;
  }

  @media (max-width: $mobile) {
    padding: 205px 0 90px;

    .container {
      padding: 0;
    }
  }

  .container {
    position: relative;
  }

  &__title {
    margin: 0;

    @media (max-width: $mobile) {
      padding: 0 16px;
    }
  }

  &__map {
    position: relative;
    width: 136%;
    max-width: 179.6rem;
    margin-left: 37.5rem;
    margin-top: -9.3rem;

    @media (max-width: $tablet) {
      margin: 0;
      max-width: 1072px;
      width: 156%;
      margin-top: -35px;
      margin-left: -38px;
    }

    @media (max-width: $mobile) {
      max-width: 1242px;
      width: 363%;
    }
  }

  &__map-wrapper {
    @media (max-width: $mobile) {
      overflow-x: auto;
      padding-top: 45px;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        display: none;
      }
    }

  }

  &__under {
    user-select: none;
  }

  &__scheme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    // path {
    //   display: none;
    // }
    // path.rect {
    //   display: block;
    // }


      .figure {
        cursor: pointer;

        &.is-active {
          rect,
          .rect {
            fill: $red;
            stroke: $white;
          }

          path {
            fill: $white;
          }


        }
      }
  }

  &__left-decor {
    position: absolute;
    left: -11.8rem;
    top: 10.9rem;
    width: 54.8rem;
    height: 49.5rem;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__top-decor {
    position: absolute;
    right: -22.6rem;
    top: -31rem;
    width: 36.8rem;
    height: 38.3rem;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__bottom-decor {
    position: absolute;
    right: -26.8rem;
    bottom: -30.2rem;
    width: 63rem;
    height: 63.7rem;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__modal {
    position: absolute;
    top: 11rem;
    left: 22rem;
    z-index: 6;
    width: 37.2rem;
    background-color: $purple;
    color: $white;
    border-radius: 43px;
    padding: 3.4rem 3.4rem 3.1rem 3.6rem;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease-in-out;


    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: $tablet) {
      width: 372px;
      padding: 36px;
      top: 101px;
      left: 38px;
    }

    @media (max-width: $mobile) {
      width: calc(100% - 32px);
      padding: 36px;
      top: 291px;
      left: 16px;
    }

  }

  &__modal-title {
    font-size: 3.6rem;
    line-height: 1;
    text-transform: uppercase;
    font-family: $mossport;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0 0 2rem;
    max-width: 85%;

    @media (max-width: $tablet) {
      font-size: 36px;
    }

    @media (max-width: $mobile) {
      margin: 0 0 26px;
    }
  }

  &__modal-close {
    position: absolute;
    top: 2.7rem;
    right: 1.8rem;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: $white;

    @media (max-width: $tablet) {
      top: 27px;
      right: 20px;
    }
  }

  &__modal-goto {
    cursor: pointer;

    &.is-hidden {
      display: none;
    }

    @media (max-width: $mobile) {
      font-size: 31px;
      line-height: 1;
    }
  }

  &__decor-mobile {
    display: none;

    @media (max-width: $tablet) {
      position: absolute;
      top: -70px;
      left: -67px;
      display: block;
    }
  }

  &__wrapper {
    position: relative  ;
    display: flex;

  }

  &__list {
    z-index: 100;
    list-style: none;
    padding: 4.5rem 0 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    column-count: 2;
    column-fill: auto;
    column-gap: 4rem;
  }

  &__list-item {
    position: relative;
    display: flex;
    align-items: flex-end;
    color: $black;
    font-size: 2rem;
    line-height: 3rem;
    font-family: $mossport;
    text-transform: uppercase;
    padding-left: 3rem;
    height: 3rem;
    margin: 0 0 0.5rem;
    cursor: pointer;

    &:hover {
      color: $red;
    }

    &.is-active {
      color: $red;
    }

    p {
      margin: 0;
      position: relative;
      top: 0.5rem;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 3.4rem;
      color: $red
    }
  }
}
