.map {
  padding: 11.5rem 0 20rem;
  overflow: hidden;

  .container {
    position: relative;
  }

  &__title {
    margin: 0;
  }

  &__map {
    position: relative;
    width: 136%;
    max-width: 179.6rem;
    margin-left: 11.8rem;
    margin-top: -9.3rem;
  }

  &__under {
    user-select: none;
  }

  &__scheme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    // path {
    //   display: none;
    // }
    // path.rect {
    //   display: block;
    // }


      .figure {
        cursor: pointer;

        &.is-active {
          rect,
          .rect {
            fill: $red;
            stroke: $white;
          }


        }
      }

  }

  &__left-decor {
    position: absolute;
    left: -11.8rem;
    top: 10.9rem;
  }

  &__top-decor {
    position: absolute;
    right: -22.6rem;
    top: -31rem;
  }

  &__bottom-decor {
    position: absolute;
    right: -26.8rem;
    bottom: -30.2rem;
  }

  &__modal {
    position: absolute;
    top: 21rem;
    left: 35rem;
    z-index: 6;
    width: 37.2rem;
    background-color: $purple;
    color: $white;
    border-radius: 43px;
    padding: 3.4rem 3.4rem 3.1rem 3.6rem;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease-in-out;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

  }

  &__modal-title {
    font-size: 3.6rem;
    line-height: 1;
    text-transform: uppercase;
    font-family: $mossport;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0 0 2rem;
    max-width: 85%;
  }

  &__modal-close {
    position: absolute;
    top: 2.7rem;
    right: 1.8rem;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: $white;
  }

  &__modal-goto {
    cursor: pointer;
  }
}
