.partners {
    padding: 0 0 6rem;

    .container {
      position: relative;
    }

    &__title {
      margin: 0 0 13.2rem;
    }
    &__left-top-decor {
      position: absolute;
      left: -15rem;
      top: 18.5rem;
      width: 43.7rem;
      height: 42.5rem;

      @media (max-width: $laptop) {
        left: -23rem;
      }
    }

    &__right-top-decor {
      position: absolute;
      right: -32rem;
      top: 15rem;
      width: 81.2rem;
      height: 67.1rem;
    }

    &__right-bottom-decor {
      position: absolute;
      right: -29rem;
      top: 24rem;
      width: 59rem;
      height: 61.4rem;
    }

    &__left-bottom-decor {
      position: absolute;
      left: -25.3rem;
      bottom: -38.7rem;
      width: 61.6rem;
      height: 58.3rem;
    }

    &__logos {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      padding: 0 3rem 4rem 0;
    }

    &__organizators {

      margin: 0 0 19.5rem;
    }

    &__partners {
      position: relative;
      margin: 0 0 11.9rem;

      .partners__title {
        margin: 0 0 15rem;
      }
    }

    &__info {
      position: relative;
      .partners__title {
        margin: 0 0 9.5rem;
      }
    }
}
