.title {
  font-family: $mossport;
  font-weight: 700;
  font-size: 10rem;
  line-height: 10rem;
  color: $red;
  text-transform: uppercase;
  margin: 0 0 6rem;
  letter-spacing: 0.01rem;

  &--white {
    color: $white;
  }

  @media (max-width: $mobile) {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 25px;
  }
}
